# Python
__pycache__/

# React
.dist/
node_modules/

# Poetry

poetry.lock

# In development
.temp/

# Isolate
.vscode/sftp.json
tools/sync/.pypirc
test/script/file/shortcut/resource/execute_powershell/default.json
test/script/server/local/resource/connect_server/default.json
test/script/shell/resource/execute_powershell/default.json
test/script/shell/resource/execute_python/default.json
