# Python
__pycache__/

# React
.dist/
node_modules/

# Poetry

poetry.lock

# In development
.temp/

# Isolate
.vscode/sftp.json
tools/sync/home/id/.bash_profile
tools/sync/home/id/.pypirc
tests/pyspartalib/script/file/shortcut/resource/execute_powershell/default.json
tests/pyspartalib/script/server/local/resource/connect_server/default.json
tests/pyspartalib/script/shell/resource/execute_powershell/default.json
tests/pyspartalib/script/shell/resource/execute_python/default.json

