# Python
__pycache__/

# React
.dist/
node_modules/

# In development
.temp/

# Isolate
.vscode/sftp.json
external/ubuntu-base-23.10-beta-base-amd64.tar.gz
pyspartaproj/resource/spartaproject.json
test/script/server/local/resource/connect_server/default.json